.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F2FAFA;
}

.navLeft {
    padding-left: 50px;
}

.logo {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    cursor: pointer;
    color: #000000;
}

.navCenter {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.menuItem {
    font-style: normal;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    cursor: pointer;
}

.navRight {
    padding-right: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn {
    padding: 5px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    color: #252525;
    background: transparent;
}

.btn-join {
    color: white;
    background: #1E88E5;
    border: 1px solid #1E88E5;
    border-radius: 8px;
}